<!DOCTYPE html>
<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="header.css">
      <link rel="stylesheet" type="text/css" href="navbar.css">
      <link rel="stylesheet" type="text/css" href="footer.css">
      <link rel="stylesheet" type="text/css" href="body.css">
      <link rel="stylesheet" type="text/css" href="columns.css">
      <style>
        * {
          box-sizing: border-box;
        }
        html {
          height: 100%;
        }
        .column {
          width: 33.33%;
        }
      </style>
    </head>
  </head>
  <body>
    <div class="header">
      <p>Seitenname</p>
    </div>

    <div class="topnav">
      <a href="/">Startseite</a>
      <a href="top10">Top 10</a>
      <a href="trustedShops">Shops</a>
      <a style="background-color: #234536;" href="hersteller">Hersteller</a>
      <a href="serien">Serien</a>
      <a href="login">Mein Konto</a>
      <input type="search" placeholder="Search..">
    </div>
    
    <div class="row">
     
      <% for (i=0; i<collector.length; i++){ %>
        <div class="column">
          <h2><%=collector[i].companyName %></h2>
          <img alt="<%=collector[i].companyName %>" src="<%=collector[i].pic %>" height="200px">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      <% } %>

      <footer class="footer">
        <div class="footer-row">
          <div class="footer-column">
            <p style="font-size: 20px">Service-Hotline</p>
            <p>Wir beraten dich gerne:</p>
            <p style="font-size: 22px">089/1234567-8</p>
            <p>Mo-Fr 09.00 - 16.00 Uhr</p>
          </div>
          <div class="footer-column">
            <p style="font-size: 20px">Impressum</p>
            <p>Max Mustermann</p>
            <p>Musterstraße 1</p>
            <p>80999 München</p>
          </div>
          <div class="footer-column">
            <p style="font-size: 20px">Kontakt:</p>
            <p>Telefon: 089/1234567-8</p>
            <p>Telefax: 089/1234567-9</p>
            <p>E-Mail: mail@mustermann.de</p>
          </div>
          <div class="footer-column">
            <p><a style="color: white" href="top10">Top 10</a></p>
            <p><a style="color: white" href="trustedShops">Shops</a></p>
            <p><a style="color: white" href="hersteller">Hersteller</a></p>
            <p><a style="color: white" href="serien">Serien</a></p>
            <p><a style="color: white" href="login">Mein Konto</a></p>
          </div>
        </div>
      </footer>
  </body>
<html>