<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" type="text/css" href="body.css">
    <link rel="stylesheet" type="text/css" href="slideshow.css">
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <p>Seitenname</p>
    </div>

    <div class="topnav">
      <a style="background-color: #234536;" href="/">Startseite</a>
      <a href="top10">Top 10</a>
      <a href="trustedShops">Shops</a>
      <a href="hersteller">Hersteller</a>
      <a href="serien">Serien</a>
      <a href="login">Mein Konto</a>
      <input type="search" placeholder="Search..">
    </div>
 
    <div style="text-align: center;">
      <h2>Serien</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>

      <div class="w3-content w3-display-container">
        <img class="mySlides" src="https://www.freepnglogos.com/uploads/naruto/image-naruto-shippuden-logo-gamefactory-wiki-14.png" style="width:100%">
        <img class="mySlides" src="https://www.pngmart.com/files/13/My-Hero-Academia-Logo-PNG-Image.png" style="width:100%">
        <img class="mySlides" src="https://www.pngmart.com/files/13/Attack-On-Titan-Word-Logo-Transparent-PNG.png" style="width:100%">
        <img class="mySlides" src="https://www.pngmart.com/files/3/One-Piece-Logo-PNG-Image.png" style="width:100%">
      
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
      
      <script>
      var slideIndex = 1;
      showDivs(slideIndex);
      
      function plusDivs(n) {
        showDivs(slideIndex += n);
      }
      
      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
      }
      </script>

    </div>
      
    <footer class="footer">
      <div class="footer-row">
        <div class="footer-column">
          <p style="font-size: 20px">Service-Hotline</p>
          <p>Wir beraten dich gerne:</p>
          <p style="font-size: 22px">089/1234567-8</p>
          <p>Mo-Fr 09.00 - 16.00 Uhr</p>
        </div>
        <div class="footer-column">
          <p style="font-size: 20px">Impressum</p>
          <p>Max Mustermann</p>
          <p>Musterstraße 1</p>
          <p>80999 München</p>
        </div>
        <div class="footer-column">
          <p style="font-size: 20px">Kontakt:</p>
          <p>Telefon: 089/1234567-8</p>
          <p>Telefax: 089/1234567-9</p>
          <p>E-Mail: mail@mustermann.de</p>
        </div>
        <div class="footer-column">
          <p><a style="color: white" href="top10">Top 10</a></p>
          <p><a style="color: white" href="trustedShops">Shops</a></p>
          <p><a style="color: white" href="hersteller">Hersteller</a></p>
          <p><a style="color: white" href="serien">Serien</a></p>
          <p><a style="color: white" href="login">Mein Konto</a></p>
        </div>
      </div>
    </footer>

  </body>
<html>