<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" type="text/css" href="body.css">
    <link rel="stylesheet" type="text/css" href="slideshow.css">
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <p>Seitenname</p>
    </div>

    <div class="topnav">
      <a style="background-color: #234536;" href="/">Startseite</a>
      <a href="top10">Top 10</a>
      <a href="trustedShops">Shops</a>
      <a href="hersteller">Hersteller</a>
      <a href="serien">Serien</a>
      <a href="login">Mein Konto</a>
      <div class="search-container">
        <form action="" >
          <input id="searchInput" type="text" placeholder="Search.." name="search">
          <button type="submit" onClick="sConsole()">Suchen</button>
          <script>
            function sConsole() {
              var data = document.getElementById("searchInput");
              console.log(data.value);
            }
          </script>
        </form>
      </div>
    </div>

    <div style="text-align: center;">
      <h2>Serien</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>

      <div class="slide-content slide-display-container">
        <img class="mySlides" src="https://www.freepnglogos.com/uploads/naruto/image-naruto-shippuden-logo-gamefactory-wiki-14.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://www.pngmart.com/files/13/My-Hero-Academia-Logo-PNG-Image.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://www.pngmart.com/files/13/Attack-On-Titan-Word-Logo-Transparent-PNG.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://www.pngmart.com/files/3/One-Piece-Logo-PNG-Image.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Jujutsu_Kaisen_logo_in_Japan.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Kimetsu_no_Yaiba_logo.svg/2560px-Kimetsu_no_Yaiba_logo.svg.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Tokyo_Revengers_logo.svg/2560px-Tokyo_Revengers_logo.svg.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Persona_5_logo.svg/2560px-Persona_5_logo.svg.png" style="width:100%; height: 350px">      
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/de/thumb/e/e8/Shaman_king_logo.svg/1200px-Shaman_king_logo.svg.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Danganronpa_series_English_logo.svg/2560px-Danganronpa_series_English_logo.svg.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Black_Rock_Shooter_logo.svg/2560px-Black_Rock_Shooter_logo.svg.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Darling_in_the_Franxx_logo.svg/1280px-Darling_in_the_Franxx_logo.svg.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Digimon_Logo.svg/1280px-Digimon_Logo.svg.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Hololive_Production.png" style="width:100%; height: 350px">
        <img class="mySlides" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Kono_Subarashii_Sekai_ni_Shukufuku_o%21_logo.svg/1200px-Kono_Subarashii_Sekai_ni_Shukufuku_o%21_logo.svg.png" style="width:100%; height: 350px">

        <button class="button button-black slide-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="button button-black slide-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
      
      <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
      </script>

    </div>
      
    <footer class="footer">
      <div class="footer-row">
        <div class="footer-column">
          <p style="font-size: 20px">Service-Hotline</p>
          <p>Wir beraten dich gerne:</p>
          <p style="font-size: 22px">089/1234567-8</p>
          <p>Mo-Fr 09.00 - 16.00 Uhr</p>
        </div>
        <div class="footer-column">
          <p style="font-size: 20px">Impressum</p>
          <p>Max Mustermann</p>
          <p>Musterstraße 1</p>
          <p>80999 München</p>
        </div>
        <div class="footer-column">
          <p style="font-size: 20px">Kontakt:</p>
          <p>Telefon: 089/1234567-8</p>
          <p>Telefax: 089/1234567-9</p>
          <p>E-Mail: mail@mustermann.de</p>
        </div>
        <div class="footer-column">
          <p><a style="color: white" href="top10">Top 10</a></p>
          <p><a style="color: white" href="trustedShops">Shops</a></p>
          <p><a style="color: white" href="hersteller">Hersteller</a></p>
          <p><a style="color: white" href="serien">Serien</a></p>
          <p><a style="color: white" href="login">Mein Konto</a></p>
        </div>
      </div>
    </footer>

  </body>
<html>