<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
      body {
        font-family: "Lato", sans-serif;
        margin: 0;
        color: white;
        background: linear-gradient(#161616, #346751);
      }
      form {
        border: 3px solid #161616;
      }

      /* Style the header */
      .header {
        background-color: #0F0E0E;
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 24px;
      }
      /* The navbar container */
      .topnav {
        overflow: hidden;
        background-color: #346751;
      }
      /* Navbar links */
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      /* Links - change color on hover */
      .topnav a:hover {
        background-color: #234536;
        color: white;
      }
      .topnav input[type=search] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
        background-color: #0F0E0E;
        color: white;
      }

      /*Footer Style*/
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8%;
        background-color: #0F0E0E;
        color: white;
        text-align: center;
      }

      /*Login Style*/
      .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
      }
      .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
      }
      .login-box .user-box {
        position: relative;
      }
      .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
      }
      .login-box .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
      }
      .login-box .user-box input:focus ~ label,
      .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #6ddead;
        font-size: 12px;
      }
      .login-box form a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #6ddead;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
      }
      .login-box a:hover {
        background: #6ddead;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #6ddead,
                    0 0 25px #6ddead,
                    0 0 50px #6ddead,
                    0 0 100px 6ddead;
      }
      .login-box a span {
        position: absolute;
        display: block;
      }
      .login-box a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #6ddead);
        animation: btn-anim1 1s linear infinite;
      }
      .login-box a span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #6ddead);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
      }
      .login-box a span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #6ddead);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
      }
      .login-box a span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #6ddead);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
      }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width:600px) {
          span.psw {
            display: block;
            float: none;
          }
          .cancelbtn {
            width: 100%;
          }
        }
    </style>
  </head>
  <body>
    <div class="header">
      <p>Seitenname</p>
    </div>

    <div class="topnav">
      <a href="/">Startseite</a>
      <a href="#">Übe uns</a>
      <a href="#">Top 10</a>
      <a href="trustedShops">Trusted Shops</a>
      <a href="hersteller">Hersteller</a>
      <a href="serien">Serien</a>
      <a style="background-color: #234536;" href="login">Mein Konto</a>
      <input type="search" placeholder="Search..">
    </div>
  
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <div class="user-box">
          <input type="text" name="" required="">
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="" required="">
          <label>Password</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>

    <div class="footer">
      <p>Impressum</p>
    </div>

  </body>
<html>