<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" type="text/css" href="body.css">
    <link rel="stylesheet" type="text/css" href="columes.css">
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
      .column {
        width: 33.33%;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <p>Seitenname</p>
    </div>

    <div class="topnav">
      <a href="/">Startseite</a>
      <a href="#">Top 10</a>
      <a href="trustedShops">Shops</a>
      <a href="hersteller">Hersteller</a>
      <a style="background-color: #234536;" href="serien">Serien</a>
      <a href="login">Mein Konto</a>
      <input type="search" placeholder="Search..">
    </div>
    
    <div class="row">
     
      <% for (i=0; i<collector.length; i++){ %>
        <div class="column">
          <h2><%=collector[i].seriesName %></h2>
          <a href="/serien/<%=collector[i].seriesID %>">
          <img alt="<%=collector[i].seriesName %>" src="<%=collector[i].icon %>" height="200px">
          </a>
        </div>
      <% } %>

    <div class="footer">
      <p>Impressum</p>
    </div>
  </body>
<html>