.card {
    margin-top: 40%;
    margin-left: 50%;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
    width: 340px;
    height: 400px; 
    margin: auto;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
  }
  .cover {
    object-fit: contain;
    width: 250px;
    height: 250px;
    background-color: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
  }