/* Erstellt 3 gleichgroße Spalten nebeneinander */
.column {
  float: left;
  padding: 15px;
}

/* Clear floats nach den Spalten */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - lässt die 3 Kolonnen aufeinanderstapeln statt nebeneinander liegen */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}