
.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
    }
    .comment-box {
    padding: 5px
    }
    .comment-area textarea {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border: 1px solid #fff;
        outline: none;
        background: transparent;
    }
    .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #346751;
    outline: 0;
    box-shadow: 0 0 0 1px #346751 !important
    }
    
    .rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
    }
    .rating>input {
    display: none
    }
    .rating>label {
    position: relative;
    width: 55px;
    font-size: 50px;
    padding: 10px;
    color: #346751;
    cursor: pointer
    }
    .rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
    }
    .rating>label:hover:before,
    .rating>label:hover~label:before {
    opacity: 1 !important
    }
    .rating>input:checked~label:before {
    opacity: 1
    }
    .rating:hover>input:checked~label:before {
    opacity: 0.4
    }
    .submitButton:hover {
        background: #4b9776;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 0 0 5px #6ddead,
                    0 0 10px #6ddead,
                    0 0 15px #6ddead,
                    0 0 20px #6ddead;
      }
      .submitButton {
        position: relative;
        background-color: #3b755b;
        border: transparent;
        border-radius: 5px;
        display: inline-block;
        padding: 10px 20px;
        color: black;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 10px;
        margin-bottom: 10px;
        letter-spacing: 4px;
      }