.card {
  margin-top: 40%;
  margin-left: 50%;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
  width: 500px;
  height: 700px; 
  margin: auto;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
}
.cover {
  object-fit: contain;
  width: 450px;
  height: 450px;
  background-color: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
}

.ratingcard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.rated-stars-s .star-ratings-css {
  font-size: 1rem;
}

.rated-stars-m .star-ratings-css {
  font-size: 2rem;
}

.rated-stars-l .star-ratings-css {
  font-size: 2.5rem;
}

.rated-stars {
  width: 132px;
  margin-left: 5px;
  margin-right: 5px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: white;
  font-size: 1rem;
  height: 25px;
  position: relative;
}

.star-ratings-css::before {
  content: "☆☆☆☆☆";
  opacity: 0.7;
  font-size: xx-large;
}

[data-rate="0"]::after {
  width: calc(0* 20%);
}

[data-rate="0.5"]::after {
  width: calc(0.5* 20%);
}

[data-rate="1"]::after {
  width: calc(1* 20%);
}

[data-rate="1.5"]::after {
  width: calc(1.5* 20%);
}

[data-rate="2"]::after {
  width: calc(2* 20%);
}

[data-rate="2.5"]::after {
  width: calc(2.5* 20%);
}

[data-rate="3"]::after {
  width: calc(3* 20%);
}

[data-rate="3.5"]::after {
  width: calc(3.5* 20%);
}

[data-rate="4"]::after {
  width: calc(4* 20%);
}

[data-rate="4.5"]::after {
  width: calc(4.5* 20%);
}

[data-rate="5"]::after {
  width: calc(5* 20%);
}

.star-ratings-css::after {
  color: white;
  content: "★★★★★";
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  width: attr(rating);
  overflow: hidden;
  font-size: xx-large;
}